<app-adminnavbar></app-adminnavbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

         
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Checkin Security Name</th>
        <th scope="col">Checkin Time</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Checkout Time</th>
        <th scope="col">Checkout Security Name</th>
        
     
     
       
      
       


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of logData">
       
        <td>{{i.login_sec_name}}</td>
        <td>{{i.login_time}}</td>
        <td>{{i.emp_name}}</td>
       
        <td>{{i.logout_time}}</td>
      
        <td>{{i.logout_sec_name}}</td>
       
      </tr>
     
    </tbody>
  </table>

        </div>
    </div>
</div>

