<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col xxl-12">
<h1 style="text-align: center;">Security Login</h1>

<div class="row g-4">
    <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col xxl-12">
<label for="" class="form-label">Email Id</label>
<input type="text" class="form-control" name="email" [(ngModel)]="email">

    </div>
    <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col xxl-12">

        <label for="" class="form-label">Password</label>
        <input type="password" name="password" [(ngModel)]="password" id="" class="form-control">
    </div>
    <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col xxl-12">
<button class="btn btn-success" (click)="readValues()">Login</button>

    </div>
</div>


        </div>
    </div>
</div>

