<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

            <form>
                <div class="mb-3">
                    <h1>Security Login</h1>
                  <label for="exampleInputEmail1" class="form-label" >Email Id</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"  [(ngModel)]="email">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="readValues()">Login</button>
              </form>

