
<app-adminnavbar></app-adminnavbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


<div class="row g-3">
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for="">Employee Code</label>
        <input type="text" class="form-control" name="emp_code"  [(ngModel)]="emp_code">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for="">Employee Name</label>
        <input type="text" class="form-control"name="name"  [(ngModel)]="name">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for=""> DOB</label>
        <input type="date" class="form-control"name="dob"  [(ngModel)]="dob">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
    <label for=""> Phone Number</label>
    <input type="text" class="form-control"name="phone"  [(ngModel)]="phone">
</div>


    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for="">Employee Address</label>
        <textarea name="address"  [(ngModel)]="address" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
 
    
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for="">Employee Designation</label>
        <input type="text" class="form-control" name="designation"  [(ngModel)]="designation">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for="">Employee Email</label>
        <input type="text" class="form-control"name="email"  [(ngModel)]="email">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for="">Password</label>
        <input type="text" class="form-control"name="password"  [(ngModel)]="password">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col xxl-12">
        <label for="">DOJ</label>
        <input type="date" class="form-control"name="doj"  [(ngModel)]="doj">
    </div>
    <p>
        
    </p>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col xxl-12">
       <button class="btn btn-primary" (click)="readvalues()">Submit </button>
    </div>
</div>






</div>
</div>
